<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-dashboard"></i> Technical Investment
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-2 col-md-3">
                <terians-blue-thumbnail text-large="33320" text-small="Issues"/>
            </div>
            <div class="col-lg-2 col-md-3">
                <terians-blue-thumbnail text-large="1234054" text-small="Lines of Code"/>
            </div>
            <div class="col-lg-2 col-md-3">
                <terians-blue-thumbnail text-large="500" text-small="Class"/>
            </div>
            <div class="col-lg-2 col-md-3">
                <terians-blue-thumbnail text-large="5607" text-small="Methods"/>
            </div>
            <div class="col-lg-2 col-md-3">
                <terians-blue-thumbnail text-large="54.89" text-small="Complexity"/>
            </div>
            <div class="col-lg-2 col-md-3">
                <terians-blue-thumbnail text-large="476 Days" text-small="Technical Debt"/>
            </div>
        </div>
        <div ng-controller="techInvestGridsterCtrl">
            <div gridster="gridsterOpts">
                <ul>
                    <div gridster-item>
                        <terians-panel title="Issues Area" icon="fa fa-bar-chart-o fa-fw">
                            <div ng-controller="highChartsScatterPlotCtrl">
                                <terians-high-charts-scatter-plot data="data" title="title"
                                                                  subTitle="subTitle" xAxis="xAxis" yAxis="yAxis"
                                                                  htooltip="tooltip"></terians-high-charts-scatter-plot>
                            </div>
                        </terians-panel>
                    </div>
                    <div gridster-item>
                        <terians-panel title="Transaction Panel" icon="fa fa-clock-o fa-fw">
                            <div ng-controller="highChartsPolarCtrl">
                                <terians-high-charts-polar data="data" title="title"></terians-high-charts-polar>
                            </div>
                        </terians-panel>
                    </div>
                    <div gridster-item>
                        <terians-panel title="Donut Chart" icon="fa fa-money fa-fw">
                            <div ng-controller="highChartsPyramidCtrl">
                                <terians-high-charts-pyramid data="data" title="title"></terians-high-charts-pyramid>
                            </div>
                        </terians-panel>
                    </div>
                    <div gridster-item>
                        <terians-panel title="Tasks Panel" icon="fa fa-long-arrow-right fa-fw">
                            <div ng-controller="highChartsSpiderWebCtrl">
                                <terians-high-charts-spider-web data="data" title="title"
                                                                categories="categories"></terians-high-charts-spider-web>
                            </div>
                        </terians-panel>
                    </div>
                </ul>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->